# {{ ansible_managed }}
# See {{ multipath_iscsi_role_git_repo }}/blob/master/templates/50-nrpe-check-multipath.j2

Defaults:nrpe !requiretty,!syslog
nrpe ALL=(ALL) NOPASSWD:/sbin/multipath -l
nrpe ALL=(ALL) NOPASSWD:/sbin/multipath -ll
